.row {
    margin: 0;
}

.positionFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.openMenuBar {
    min-height: 88vh;
    border-right: 2px solid black;
    animation-name: openMenuBar;
    animation-duration: 1s;
}

@keyframes openMenuBar {
    0% {
        width: 0%;
    }
    100% {
        width: 16.66666667%;
    }
}

.closeMenuBar {
    min-height: 86vh;
    border-right: none;
    animation-name: closeMenuBar;
    animation-duration: 1s;
    width: 0;
    overflow: auto;
}

@keyframes closeMenuBar {
    0% {
        width: 16.66666667%;
    }
    100% {
        width: 0%;
        overflow: auto;
    }
}

@media only screen and (max-width: 576px) {
    .openMenuBar {
        min-height: 0%;
        border-right: none;
        animation-name: openMenuBar;
        animation-duration: 2s;
        overflow: auto;
    }
    @keyframes openMenuBar {
        0% {
            height: 0vh;
        }
        100% {
            height: 43vh;
        }
    }
    .topMargin {
        margin-top: 14rem;
    }
    .closeMenuBar {
        min-height: 0%;
        border-right: none;
        animation-name: closeMenuBar;
        animation-duration: 2s;
        overflow: auto;
    }
    @keyframes closeMenuBar {
        0% {
            height: 43vh;
        }
        100% {
            height: 0vh;
        }
    }
    .topMargin2 {
        margin-top: 0rem;
    }
}

.card,
.list-group-item {
    position: unset;
}